body {
  margin: 0%;
  padding: 0%;
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
}
.tableHeader {
  font-weight: 600;
  color: darkmagenta !important;
  font-size: 16px;
}
.container{
  margin-left: 100px;
  margin-right: 80px;
}
.seat-box{
  width: 100px;
  height: 100px;
  margin: 10px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  font-size: 18px;
}
.available{
  background-color: rgb(168, 208, 243) !important;
  cursor: pointer;
}
.booked{
  background-color: #ffacac !important;
}
.selcted{
  background-color: #91f291 !important;
  cursor: pointer;
}
.lower-desk{
  background: rgb(229, 238, 246);
  padding-inline: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 10px;
}
.seat-otions{
  display: flex;
  align-items: center;
}
.seat-otions-item{
  margin-right: 20px;
  display: flex;
  align-items: center;
  
}
.available-option{
  display: block;
  width: 20px;
  height: 20px;
  background-color: rgb(168, 208, 243) !important;
  margin-right: 10px;
}
.booked-option{
  display: block;
  width: 20px;
  height: 20px;
  background-color: #ffacac !important;
  margin-right: 10px;
}
.selected-option{
  display: block;
  width: 20px;
  height: 20px;
  background-color: #91f291 !important;
  margin-right: 10px;
}